@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 230deg 0% 98%;
		--theme-link: 350deg 50% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 216deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 212deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 206deg 9% 15%;
		--theme-link: 198deg 49% 67%;
		--theme-text: 220deg 3% 82%;
		--theme-accent: 4deg 72% 60%;
		--theme-accent-2: 0deg 0% 88%;
		--theme-quote: 0deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 text-base font-normal text-textColor antialiased;
	}
}
