.markdown-alert {
  @apply my-8 rounded-md border-2 border-dashed p-4 text-base;
}

.markdown-alert-title {
  @apply my-[0.5em] text-lg font-medium text-accent-2;
}

.markdown-alert .markdown-alert-title .octicon {
  @apply mr-2 inline-block h-[1.2em] w-[1.2em] !overflow-visible align-text-bottom text-inherit;

  -webkit-mask: var(--oct-icon) no-repeat;
  mask: var(--oct-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.markdown-alert-note {
  @apply border-blue-600 dark:border-blue-400 bg-blue-100/25 dark:bg-blue-950/25;
}

.markdown-alert-note .octicon {
  @apply bg-blue-600 dark:bg-blue-400;
}

.markdown-alert-warning {
  @apply border-orange-400 dark:border-yellow-400 bg-yellow-50/25 dark:bg-yellow-950/15;
}

.markdown-alert-warning .octicon {
  @apply bg-orange-400 dark:bg-yellow-400;
}
