@font-face {
	font-family: "Modified Q";
	font-weight: 400;
	font-display: swap;
	unicode-range: U+51;
	src: url("/fonts/ModifiedQ-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Modified Q";
	font-weight: 700;
	font-display: swap;
	unicode-range: U+51;
	src: url("/fonts/ModifiedQ-Bold.woff2") format("woff2");
}
