---
const { color, title } = Astro.props;
const colorVariants = {
	blue: "border-blue-600 dark:border-blue-400",
	yellow: "border-yellow-600 dark:border-yellow-400",
};
---

<aside class={`my-8 border-2 border-dashed rounded-md p-4 text-base ${colorVariants[color]}`}>
	{title && <span class="my-[1em] text-lg font-bold text-accent-2">{title}</span>}
	<slot />
</aside>
