---
import FormattedDate from "@/components/FormattedDate.astro";

const { as: Tag = "div", post } = Astro.props;
---

<FormattedDate class="min-w-30 text-gray-600 dark:text-gray-400" date={post.data.created} />
<Tag>
  <a class="cactus-link" data-astro-prefetch href={`/blog/${post.id}/`}>
    {post.data.title}
  </a>
</Tag>
