---
import { generateToc } from "@/utils/generateToc";

import TOCHeading from "./TOCHeading.astro";

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details open class="lg:sticky lg:top-12 lg:order-2 lg:-me-[18.5rem] lg:basis-64">
  <summary class="title cursor-pointer text-lg hover:marker:text-accent">目次</summary>
  <nav class="ms-4 lg:w-full">
    <ol class="mt-4">
      {toc.map((heading) => <TOCHeading heading={heading} />)}
    </ol>
  </nav>
</details>
