---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
---

<html class="scroll-smooth" lang={siteConfig.lang}>
  <head>
    <BaseHead />
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-3xl flex-col bg-global-bg px-4 pt-16 text-base font-normal text-global-text antialiased sm:px-8"
  >
    <ThemeProvider />
    <SkipLink />
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
