---
import { render } from "astro:content";
import BlogHero from "@/components/blog/Hero.astro";
import TOC from "@/components/blog/TOC.astro";

import BaseContentLayout from "./BaseContent.astro";

const { post, headings, readingTime } = Astro.props;
---

<BaseContentLayout>
  {!!headings.length && <TOC headings={headings} slot="toc" />}
  <BlogHero content={post} readingTime={readingTime} slot="hero" />
  <div
    class="prose prose-cactus max-w-full text-base prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-5 prose-headings:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none"
  >
    <slot />
  </div>
  <Fragment slot="ads">
    <div class="mb-5 mt-10 block" id="bottom-ad"></div>
    <script is:inline>
      googletag.cmd.push(() => {
        googletag.display("bottom-ad");
      });
    </script>
  </Fragment>
</BaseContentLayout>
