---
import { getAllDrafts } from "@/data/post";
import { collectionDateSort } from "@/utils/date";
import PageLayout from "@/layouts/Base.astro";

export const getStaticPaths = () => {
  // Only render this page in development mode.
  if (import.meta.env.PROD) {
    return [];
  }
  return [
    {
      params: { showDraftsPage: undefined },
    },
  ];
};

const drafts = (await getAllDrafts()).sort(collectionDateSort);

const meta = {
  description: "部落格草稿列表",
  title: "Drafts",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6 flex items-center gap-3">Drafts</h1>
  <div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
    <section aria-label="Blog post list">
      <ul class="mb-16 mt-5 space-y-4 text-start">
        {
          drafts.map((p) => (
            <li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
              <div>
                <a class="cactus-link" data-astro-prefetch href={`/drafts/${p.id}/`}>
                  {p.data.title}
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</PageLayout>
